<div class="card text-center mb-3">
  <div class="card-body">
    <h5 class="card-title font-weight-bold">Please don't contact us!</h5>
    <div class="card-text">
    <p>our hotline in a poor country with slaved employee</p>
		<ul>
      <li>our hotline in a poor country with slaved employees</li>
      <li>0800 555 554 the monday and friday btw 10h-12h</li><br>
      <li>our hotline for customers with money</li>
      <li>06 28 29 55 88  24/7</li><br><br><br><br><br>


			<li>Based from : @Philippe GATTI's good work'</li>
			<li>Phone # : +33 6 08 21 30 63 </li>
		</ul>
</div>
  </div>
</div>
